# EDA for RAW train dataset

### 1. IMPORTS + LOAD RAW TRAIN

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

train_raw = pd.read_csv("train.csv", parse_dates=["datetime"])
train_raw.head()

                    datetime  power  fridge home_id
0  2012-11-09 22:28:15+00:00  599.0    85.0  home_1
1  2012-11-09 22:28:27+00:00  600.0    85.0  home_1
2  2012-11-09 22:28:33+00:00  586.0    85.0  home_1
3  2012-11-09 22:30:00+00:00  584.0    85.0  home_1
4  2012-11-09 22:31:25+00:00  612.0    85.0  home_1

### 2| INFO + SHAPE + HOUSEHOLDS

In [2]:
train_raw.info()
print("\nShape:", train_raw.shape)
print("\nHousehold counts:")
train_raw["home_id"].value_counts()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907774 entries, 0 to 907773
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   datetime  907774 non-null  object
 1   power     907774 non-null  float64
 2   fridge    907774 non-null  float64
 3   home_id   907774 non-null  object
dtypes: float64(2), object(2)
memory usage: 27.7+ MB

Shape: (907774, 4)

Household counts:

home_id
home_1    579900
home_4    114092
home_5    110544
home_2    103238
Name: count, dtype: int64

### 3| TIME RANGE PER HOUSEHOLD

In [3]:
train_raw.groupby("home_id")["datetime"].agg(["min", "max"])

                               min                        max
home_id
home_1   2012-11-09 22:28:15+00:00  2015-01-05 06:15:00+00:00
home_2   2013-02-17 16:17:34+00:00  2013-10-10 06:15:00+01:00
home_4   2013-03-09 14:40:07+00:00  2013-10-01 06:15:00+01:00
home_5   2014-06-29 17:23:48+01:00  2014-11-13 17:51:59+00:00

### 4| SAMPLING FREQUENCY

In [6]:
train_raw["datetime"] = pd.to_datetime(train_raw["datetime"], utc=True, errors="coerce")
train_raw.dtypes

datetime    datetime64[ns, UTC]
power                   float64
fridge                  float64
home_id                  object
dtype: object

In [7]:
raw_sorted = train_raw.sort_values(["home_id", "datetime"])

In [8]:
deltas_raw = raw_sorted.groupby("home_id")["datetime"].diff().dt.total_seconds()

deltas_raw.dropna().value_counts().head(20)

datetime
6.0      338180
7.0       93140
12.0      71574
900.0     68171
13.0      41203
18.0      24068
19.0      24048
25.0      17264
24.0      12697
31.0       9594
37.0       6562
5.0        6406
30.0       5581
43.0       4635
20.0       4027
26.0       4001
49.0       3161
36.0       3118
11.0       3080
55.0       2571
Name: count, dtype: int64